
.box1{
    margin-top:200px
}
.bgCol{
    background-color:rgb(0, 96, 191)
    }
.tag{
    margin-top:200px;
    height:110px;
    border-radius:100%;
    background:rgb(26, 135, 243) !important;
    transition: transform .2s;
}

.colorChange{
    background:rgb(158, 245, 158) !important;
}
.colorChange2{
    background:rgb(72, 159, 247) !important
}
.textColor{
    color:rgb(141, 173, 248)
}



.nav-signup-logo {
    background-image: url('https://www.rememberthemilk.com/img/logo3.png?1553750185');
    background-repeat: no-repeat;
    background-size: 179px auto;
    width: 179px;
    height: 83px;
    display: inline-block;
    margin: 12px 0 0 2px;
    position: relative;
    z-index: 2;
  }

  .bor{
      border:1px solid black;
  }